<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Mystery</title>
<link rel="stylesheet" th:href="@{/easy/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/icon/css/font-awesome.min.css}" />
</head>
<body class="bg-a">
	<div class="container-fluid">
		<!-- 空行 -->
		<div class="row"></div>
		<!-- 提示 -->
		<div class="row mt-5">
			<div class="col-sm-4 offset-sm-4">
				<div class="card">
					<div class="card-header text-center bg-secondary text-white">
						<i class="fa fa-telegram"></i>&nbsp;&nbsp;操 作 失 败
					</div>
					<div class="card-body">
						<div>- 提交信息不正确</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>